@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--text);
}

:root {
    --bg: rgba(237, 237, 237, var(--opacity));
    --text: #121212;
    --shadow: rgba(0, 0, 0, calc(var(--opacity)/4));
    --opacity: 0.4;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: rgba(18, 18, 18, var(--opacity));
        --text: #ededed;
        --shadow: rgba(255, 255, 255, calc(var(--opacity)/4));
        --opacity: 0.32;
    }
}

#main {
    display: flex;
    flex-flow: column;
    top: 0;
    left: 0;
    height: 96vh;
    width: 96vw;
    padding: 4px;
    background: var(--bg);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    box-shadow: 0 0 16px var(--shadow);
    border: solid 1px var(--bg);
}

#title {
    font-family: 'Corinthia', cursive;
    font-size: 2.4em;
    top: 0;
    left: 0;
    margin: 8px;
    padding: 4px;
    background: var(--bg);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    box-shadow: 0 0 16px var(--shadow);
    border: solid 1px var(--bg);
    user-select: none;
}

#menu {
    font-size: 2em;
    margin: 8px;
    padding: 0 8px;
    background: var(--bg);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    box-shadow: 0 0 16px var(--shadow);
    border: solid 1px var(--bg);
    user-select: none;
}

#menu span {
    padding: 4px;
    margin: 4px;
}

.btn {
    background: var(--bg);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 0 0 16px var(--shadow);
    border: solid 1px var(--bg);
}

.btn:active {
    box-shadow: 0 0 16px var(--shadow) inset;
}

#speed {
    margin: 4px;
    height: 2em;
    width: 100%;
}

#speed_value {
    font-size: 0.5em;
}

#menu_first {
    display: flex;
    justify-content: center;
    align-items: center;
}

#voice {
    display: block;
    width: 100%;
    height: 2em;
    font-size: 0.5em;
    margin: 4px;
    padding: 0 4px;
    background: var(--bg);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 0 0 16px var(--shadow);
    border: solid 1px var(--bg);
}

#voice:active {
    box-shadow: 0 0 16px var(--shadow) inset;
}

#login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: 8px;
    padding: 8px;
    background: var(--bg);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    box-shadow: 0 0 16px var(--shadow);
    border: solid 1px var(--bg);
}

#login_container input {
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 8px 0px;
    padding: 8px;
    border: none;
    background: var(--bg);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    box-shadow: inset 0 0 16px var(--shadow);
    border: solid 1px var(--bg);
}

#login_container input:first-child {
    border-radius: 16px 0px 0px 16px;
}

#login_container input:last-child {
    border-radius: 0px 16px 16px 0px;
}

#input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    top: 0;
    left: 0;
    margin: 8px;
    padding: 8px;
    background: var(--bg);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    box-shadow: 0 0 16px var(--shadow);
    border: solid 1px var(--bg);
}

#input {
    resize: none;
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    border: none;
    background: var(--bg);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    box-shadow: inset 0 0 16px var(--shadow);
    border: solid 1px var(--bg);
}

input:focus,
textarea:focus {
    border: unset;
    outline: 0;
}

#waveform {
    display: none;
}